extends layout

block head
	script(src="/components/manage/app.js")

block body
	.cover
		.container(ng-controller='MainCtrl')
			.row
				.col-md-4
					h2 Pending
					.events
						div(ng-repeat="ev in Events")
							.event(ng-if="!ev.FromVenue && ev.FromFacebook.start > Now")
								h4 {{ev.FromFacebook.name}}
								a.btn.btn-block.btn-social.btn-sm.btn-dockets(ng-click="Monetize(ev)", style="width:13em")
									| Monetize event
				.col-md-4
					h2 Upcoming
					.events
						div(ng-repeat="ev in Events")
							.event(ng-if="ev.FromVenue && ev.FromVenue.start > Now")
								h4 {{ev.FromVenue.title}}
								a.btn.btn-block.btn-social.btn-sm.btn-facebook(ng-click="ShareEvent(ev)", style="width:13em")
									i.fa.fa-facebook
									| Share on facebook
				.col-md-4
					h2 Past
					.events
						div(ng-repeat="ev in Events")
							.event(ng-if="ev.FromVenue && ev.FromVenue.start <= Now")
								h4 {{ev.FromVenue.title}}
								span Sold ??? (${{ev.FromVenue.cost}})
								br