doctype html
html.no-js(lang='en')
	head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# product: http://ogp.me/ns/product#')
		meta(property='og:type', content='og:product')
		meta(property='og:title', content='#{event.title}')
		meta(property='og:image', content='http://www.friendsmash.com/images/pack_600.png')
		meta(property='og:description', content='#{event.description}')
		meta(property='og:url', content='http://infinite-headland-4046.herokuapp.com/opengraph/event/fb/#{event.fbid}')
		meta(property='product:price:amount', content='#{event.price}')
		meta(property='product:price:currency', content='USD')
	body
		p For robots :)