extends layout

block head
	script(src="/components/purchase/app.js")

block body
	.cover(ng-init="eventId=#{id}")
		.container.relative(ng-controller="MainCtrl")
			div(ng-if="!PurchaseComplete")			
				.header
					.spinner(ng-if="!Event || !Venue || WaitingForTicket")
						.double-bounce1
						.double-bounce2
					.row(ng-if="Event && Venue && !WaitingForTicket")
						.col-md-4
							.round-image(style="background-image:url(//graph.facebook.com/{{Venue.fbid}}/picture?height=150&width=150)")
						.col-md-6
							h2(style="margin-top:0") {{Event.title}}
							p
								i.fa.fa-clock-o
								| &nbsp; {{Event.start | date}}
							p
								i.fa.fa-location-arrow
								| &nbsp; {{Venue.streetAddress}}, {{Venue.postcode}}
							a.btn.btn-block.btn-social.btn-facebook.purchase-button(ng-click="InitPurchase()", ng-if="!TicketForEvent")
								i.fa.fa-facebook
								| 4 ticket(s) left
							
					.row(ng-if="TicketForEvent", style="margin-top:3em")
						.col-md-4
							img(ng-src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{TicketUrl}}")
						.col-md-6
							p Show this on your phone at the event
							a.btn.btn-block.btn-social.btn-facebook.action-button(ng-click="ShareEvent(ev)")
								i.fa.fa-facebook
								| Share on facebook