doctype html
html.no-js(lang='en', style="background-color:rgb(62, 114, 60);color:white;font-size:2em")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
	body(style="position: absolute;width: 100%;top: 50%;margin: 0;margin-top: -4em;text-align: center;padding: 0;")
		label Let 'em in!