body {
	background: #2A5372;
	color:white;
}

button .important {
	box-shadow: #CCC 2px 1px 1px;
}

form {
  color:black;
}

.cover {
	padding-top:3em;
}

.container {
	max-width: 800px;
	padding:5em;
	margin-top:4em;
}

.round-image {
    width: 150px;
    height: 150px;
}

p {
	font-size:1.1em;
}

.relative {
	position: relative;
}

.absolute{
	position:absolute;
}

.right {
	right:0;
}

.left {
	left:0;
}

.bottom {
	bottom: 0
}

.events
{
	padding-top:1em;
}

.event {
	padding-bottom:2em;
}

.btn-dockets{
	color:#333;background-color:#E9E9E9;border-color:rgba(0,0,0,0.2)
}

.btn-dockets:hover,.btn-dockets:focus,.btn-dockets:active,.btn-dockets.active,.open>.dropdown-toggle.btn-dockets{
	color:#333;background-color:#D5D5D5;border-color:rgba(0,0,0,0.2)
}

.action-button, .purchase-button
{
	width:13em;
	margin-top:1.6em
}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}