<div class="modal-header">
    <h3 class="modal-title">Monetization</h3>
</div>
<div class="modal-body">
	<form role="form">
	  <div class="form-group">
	    <label for="exampleInputEmail1">Cost per ticket (AUD)</label>
	    <input type="text" class="form-control" ng-model="Cost" placeholder="e.g. 7.5">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Maximum sales</label>
	    <input type="text" class="form-control" ng-model="MaximumSales" placeholder="e.g. 50">
	  </div>
	</form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="Submit()">OK</button>
    <button class="btn" ng-click="Cancel()">Cancel</button>
</div>